{% include "web/layout/include_header.html" %} 
<!-- Main Content Area -->
<div class="container mt-5">
    <h1 class="text-center">Welcome to the Times world sample project</h1>
    <!-- Your content goes here -->
</div>
{% include "web/layout/include_footer.html" %} 
