{% include "web/layout/include_header.html" %} 
<!-- Main Content Area -->
<div class="container mt-5">
  <h2>Registration Form</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.errors }}
        {{ form.non_field_errors }}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
</div>
{% include "web/layout/include_footer.html" %} 
