  <!-- Bootstrap Footer -->
    <footer class="footer bg-dark text-white text-center py-3">
        <p>&copy; 2023 YourWebsite.com</p>
    </footer>

    <!-- Bootstrap JavaScript and dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
